[user]
	name = Pewtas
	email = tas.els@gmx.de
[core]
	editor = vim
[alias]
	l = log --relative-date --decorate --graph --abbrev-commit
	ll = log --relative-date --decorate --all --graph --abbrev-commit
[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
